<ion-card (click)='goToViewBook(id)'>
    <ion-card-header>
        <img *ngIf="thumbnail"
             [src]="thumbnail" />
        <ion-card-title>
            {{ title | bcEllipsis:35 }}
        </ion-card-title>
        <p *ngIf="subtitle">
            {{ subtitle | bcEllipsis:40 }}
        </p>
    </ion-card-header>
    <ion-card-content>
        <p *ngIf="description">{{ description | bcEllipsis }}</p>
    </ion-card-content>
    <bc-book-authors [book]="book"></bc-book-authors>
</ion-card>