<ion-card>
    <ion-card-header>
        <img *ngIf="thumbnail"
             [src]="thumbnail" />
        <ion-card-title>
            {{ title }}
        </ion-card-title>
        <p *ngIf="subtitle">
            {{ subtitle }}
        </p>
    </ion-card-header>
    <ion-card-content>
        <p *ngIf="description">{{ description }}</p>
    </ion-card-content>
    <bc-book-authors [book]="book"></bc-book-authors>
    <button ion-button
            *ngIf="inCollection"
            (click)="remove.emit(book)">Remove Book from Collection</button>
    <button ion-button
            color="secondary"
            *ngIf="!inCollection"
            (click)="add.emit(book)">Add Book to Collection</button>
</ion-card>